header {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    font-weight: 500;
    font-size: 24px;
    color: white;
    background: black;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.header__logo {
    display: flex;
    flex: .15;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--red);
    gap: .5rem;
}
.header__logo div {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 2px solid var(--red);
}

.header__nav {
    flex: .8;
}
.header__nav ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.header__nav ul li {
    width: 100%;
    text-align: center;
}
